<script type="text/template" id="Modal">
<div class="modal_container">
	<div class="overlay"></div>
	<div class="popup_container">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      <% if (closeBtn) { %>
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <% } %>
	        <h4 class="modal-title"><%=title%></h4>
	      </div>
	      <div class="modal-body">
	      	<div class="form-group">
            <p><%=message%></p>
          </div>
	      </div>
	      <div class="modal-footer">
	      	<% if (closeBtn) { %>
	      		<button type="button" class="btn btn-default close" data-dismiss="modal"><%=closeBtn%></button>
	      	<% } %>
	        <% if (saveBtn) { %>
	        	<button type="button" class="btn btn-primary save"><%=saveBtn%></button>
	        <% } %>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</script>