html, body {
  height: 100%;
  background-color: #fafafa;
}
body {
  /*font-family: "Whitney SSm 5r", "lucida grande", tahoma, verdana, arial, sans-serif;*/
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
textarea {
  resize: none;
}
.App_Grape {
  height: 100%;
  position: relative;
}

.App_Grape .app_content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.App_Grape .app_content > div {
  max-width: 600px;
  margin: 0 auto;
  padding: 78px 0 60px;
}

@media (max-width: 600px) {
  .App_Grape .app_content > div {
    padding: 78px 0 20px;
  }
}